/*-- scss:defaults --*/

/* Defaults from https://github.com/quarto-dev/quarto-cli/blob/main/src/resources/formats/revealjs/themes/dark.scss */ 

$body-bg: #191919 !default;
$body-color: #fff !default;
$presentation-heading-color: #cfe8d9; 
$link-color: #16abc7 !default; 
$input-panel-bg: rgba(233, 236, 239, 0.2) !default;

/* Formats the title slide, heavily adopted from https://github.com/giabaio/quarto-slides */

.title-slide .title {
  color: $presentation-heading-color;
  font-size: 2em; /* from https://github.com/quarto-dev/quarto-cli/discussions/5687#discussioncomment-6003673 */
 padding: .3em .5em .3em .5em; /* top | right | bottom | left */
}

/*Note: Padding creates extra space within an element. In contrast, margin creates extra space around an element.*/

.title-slide .author {
  color: #fff;
  font-size: 1.6em;
  font-weight: bold;
  margin-bottom: .25em;
}

.title-slide .institute, .conference {
  color: #fff!important;
  font-size: 1em!important;
 /*   margin-bottom: 30px; */
}

.title-slide .institute a {
  color: #fff!important;
  font-size: 1.2em!important;
  /* font-weight: 400; */
  border-bottom: 1px solid $presentation-heading-color;
}

.title-slide .conference a {
  color:  #fff!important;
  font-size: 1.2em!important;
  /* font-weight: 400; */
  border-bottom: 1px solid $presentation-heading-color;
}

.title-slide .social {
  font-size: .9em!important;
  line-height: .65!important;
}
// .title-slide .social a {
//   color: $link-color !important;
// }

.title-slide .date {
  color: #fff!important;
  font-size: 1.2em!important;
}

.title-slide a:hover {
  border-bottom: 10px;
}

.title-slide {
  text-align: center;
  vertical-align: middle;
}

